.button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background-color: #68b738;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  border: none;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    min-height: 54px;
  }
}

.button--show-more {
  background-color: #f2f2f2;
  color: #444444;
}
