.catalog {
  width: 100%;
}

.catalog__list {
  padding: 0;

  @media (max-width: 767px) {
    width: 100%;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }


  list-style-type: none;
  margin-bottom: 25px;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 73px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px 80px;
    margin-bottom: 71px;
  }
}

.catalog__item {
  padding-bottom: 24px;
  padding-top: 20px;

  @media (max-width: 767px) {
    padding-left: calc((100vw - 280px) / 2);
    padding-right: calc((100vw - 280px) / 2);
    width: 100%;
    box-sizing: border-box;
  }

  @media (max-width: 319px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.catalog__item:not(:last-child) {
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.catalog__title {
  margin: 0 auto;
  margin-top: 27px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 84px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}
