.guides {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}

.guides__title {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.guides__text {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  display: block;
  width: 200px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
  }
}

.guides__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: guides-counter 0;

  @media (min-width: $tablet-width) {
    width: 633px;
    flex-flow: row wrap;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 1224px;
  }
}

.guides__item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  counter-increment: guides-counter 1;

  @media (max-width: 767px) {
    br {
      display: none;
    }
  }


  &::before {
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-image: url("../../icons/stack.svg#icon-leaf");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin-bottom: 31px;
    }
  }

  &--water::before {
    background-image: url("../../icons/stack.svg#icon-water");
    background-size: 26px 28.5px;
  }

  &--eat::before {
    background-image: url("../../icons/stack.svg#icon-eat");
    background-size: 25px 30px;
  }

  &--clock::before {
    background-image: url("../../icons/stack.svg#icon-clock");
    background-size: 26px 31px;
  }
}

@media (min-width: $tablet-width) {
  .guides__item {
    width: 230px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 57px;
    position: relative;

    &::after {
      content: counter(guides-counter);
      text-align: center;
      font-family: $oswald;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      vertical-align: top;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    @media (max-width: 767px) {
      & br {
        display: none;
      }
    }
  }

  .guides__item--leaf {
    margin-right: 154px;

    @media (min-width: $desktop-width) {
      margin-right: 94px;
    }
  }

  .guides__item--water {
    width: 246px;

    &::before {
      margin-left: 1px;
    }
  }

  .guides__item--eat {
    width: 247px;
    margin-right: 137px;
  }

  .guides__item--clock {
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .guides__item {
    margin-right: 77px;

    &:not(:first-child)::before {
      margin-left: 1px;
    }
  }

  .guides__item--eat {
    width: 248px;
    margin-right: 77px;
  }

  .guides__item--clock {
    width: 250px;
  }

  .guides__item--leaf {
    margin-right: 94px;
  }

  .guides__item--water {
    margin-right: 79px;
  }

  .guides__item:nth-child(4n) {
    margin-right: 0;
  }
}
