.product-card-extra {
  padding-top: 13px;
  padding-bottom: 18px;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    border-top: 1px solid #cdcdcd;
  }

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    padding: 38px;
    padding-top: 26px;
    padding-bottom: 27px;
    justify-content: space-between;

    &:not(:first-child) {
      border-top: 0;
    }

    @media (min-width: $desktop-width) {
      justify-content: left;
      align-items: center;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 1px;
    padding-bottom: 16px;
    padding-top: 15px;
    border-left: 0;
    border-right: 0;
  }
}

.product-card-extra__link {
  text-decoration: none;
  width: 100%;
  min-height: 40px;

  @media (min-width: $desktop-width) {
    width: 244px;
    margin-left: auto;
  }
}

.product-card-extra__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 225px;
    margin-right: 100px;
    text-align: left;
  }
}

.product-card-extra__list {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #444444;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 223px;
    margin-bottom: 20px;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 293px;
    margin-top: 3px;
  }
}

.product-card-extra__price {
  margin: 0;
}
