.product-card {
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(#ffffff 81px, #f2f2f2 81px);
    padding: 37px;
    padding-bottom: 40px;
    padding-top: 10px;
  }

  @media (min-width: $tablet-width) {
    padding: 38px;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product-card__list {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}
