.programs {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 708px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }
}


.programs__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-flow: row wrap;
    gap: 80px;
    row-gap: 40px;
  }
}
