.program {
  background-color: #f2f2f2;
  padding: 21px 33px 18px 20px;
  width: 100%;
  box-sizing: border-box;

  &--muscle {
    padding-top: 24px;
    padding-left: 12px;
  }

  &--muscle .program__title::before {
    background-image: url("../../icons/stack.svg#cat_muscle");
    width: 68px;
    height: 50px;
    margin-right: 11px;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 63px 53px 53px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto 1fr;
    column-gap: 53px;

    &::before {
      content: "";
      display: block;
      width: 200px;
      height: 211px;
      background-image: url("../../icons/stack.svg#cat-thin");
      background-repeat: no-repeat;
      background-size: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 4;
      margin-top: 4px;
    }

    &--muscle {
      padding-right: 29px;
      column-gap: 19px;
    }

    &--muscle::before {
      background-image: url("../../icons/stack.svg#cat_muscle");
      width: 268px;
      height: 200px;
      margin-top: 14px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 41px 61px 55px 52px;
    width: 570px;
    display: block;


    &::before {
      display: none;
    }

    &--muscle {
      padding-top: 47px;
      padding-left: 33px;
    }

    &--muscle .program__title::before {
      width: 134px;
      height: 100px;
      margin-right: 47px;
    }
  }
}

.program__title {
  font-family: $oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: block;
    width: 50px;
    height: 53px;
    margin-right: 20px;
    background-image: url("../../icons/stack.svg#cat-thin");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    grid-column: 1 / 2;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      display: block;
      width: 100px;
      height: 106px;
      margin-right: 62px;
    }
  }
}

.program__text {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  width: 227px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 340px;
    padding-bottom: 0;
    margin-bottom: 48px;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
  }
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-family: $oswald;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 32px;
    height: 12px;
    background-image: url("../../icons/stack.svg#arrow-icon");
    background-size: 24px 12px;
    background-position: center right 8px;
    background-repeat: no-repeat;
    margin-left: 15px;
  }

  &:hover::after {
    background-image: url("../../icons/stack.svg#arrow-icon-long");
    background-size: 32px 12px;
    background-position: center;
  }


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 29.64px;
    max-width: 340px;
    grid-column: 1 / 2;

    &::after {
      margin-left: 25px;
    }
  }
}

.program__link:active {
  opacity: 30%;

  &::after {
    background-image: url("../../icons/stack.svg#arrow-icon-long");
    background-size: 32px 12px;
    background-position: center;
  }
}
