.show-more {
  padding-top: 25px;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding: 35.5px;
    padding-top: 48px;
    padding-bottom: 38px;
    border: 2px solid #f2f2f2;
    margin-top: auto;
  }
}

.show-more__title {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.show-more__text {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 170px;
    margin: 0 auto;
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.show-more__plus {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    width: 60px;
    height: 60px;
    background-image: url("../../icons/stack.svg#plus-tablet");
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.show-more__button {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0;
    min-height: 40px;
    width: 100%;
  }
}
